<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="case3a.css">
    <title>Free Trial Verification</title>
</head>
<body>
    <div class="wrapper ">
        <div class="card-outer ">
            <div class="card-inner ">
                <img src="./logo.png"><img>
                    <div class="container">
                        <div class="box-text">
                            <h1>Free Trial Already Used!</h1>
                            <p>Booking Id: 57CdOktXJeJsTfmjn2hJ</p>
                            <p>This free trial has already been used. </p>
                            <p>Thank you, for trying our services!</p>
                        </div>
                        <div class="box-circle-success-expired-or-used">
                            <div class="circle-success-expired-or-used-border"></div>
                                <div class="circle-success-expired-or-used">
                                    <div class="success-expired-or-used"></div>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
        
    </div>
</body>
</html>


