<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="case1a.css">
    <title>Free Trial Verification</title>
</head>
<body>
    <div class="wrapper ">
        <div class="card-outer ">
            <div class="card-inner ">
                <img src="./logo.png"><img>
                    <div class="container">
                        <div class="box-text">
                            <h1>Free Trial Verified!</h1>
                            <p>Booking Id: 57CdOktXJeJsTfmjn2hJ</p>
                            <p>Your free trial is active and ready to use now.</p>
                        </div>
                        <div class="box-circle-success">
                            <div class="circle-success-border"></div>
                                <div class="circle-success">
                                    <div class="success"></div>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
        
    </div>
</body>
</html>


