<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Guide</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">API Guide</h1>
        <!-- Accordion for API endpoints -->
        <div id="apiAccordion">
            {% for endpoint, sub_endpoints in endpoint_map.items %}
                <div class="card">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseApi{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseApi{{ forloop.counter }}">
                    <div class="card-header" id="apiHeading{{ forloop.counter }}">
                        <h2 class="mb-0">
                                {{ endpoint }}/
                        </h2>
                    </div>
                    </button>
                    <div id="collapseApi{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="apiHeading{{ forloop.counter }}" data-parent="#apiAccordion">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Sub-Endpoint</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub_endpoint, data in sub_endpoints.items %}
                                        <tr>
                                            <td>{{ sub_endpoint }}</td>
                                            <td>{{ data.description }}</td>
                                            <td>{{ data.TYPE }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
