<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{user_data_json}</title>

</head>
<body>
    <p>{user_data_json}</p>
    <script>
        // Pass the JSON data back to React Native app
        const jsonData = {{ user_data_json|safe }};
        window.ReactNativeWebView.postMessage(JSON.stringify(jsonData));

        // Close the browser window
        window.close();
    </script>
</body>
</html>
